# Python bytecode & cache
__pycache__/
*.py[cod]
*$py.class
.pytest_cache/
.ipynb_checkpoints/

# Deep Learning Model Weights
models/*.pt
models/*.pth
models/*.onnx
models/*.engine
models/*.bin
*.pt
*.pth
*.onnx
*.engine
*.bin

# Log & Performance CSV files
*.log
*.csv
!data/ais/*.csv
!data/gt/*.txt

# Generated output results
result/video/*
result/metric/*
!result/video/.gitkeep
!result/metric/.gitkeep

# Environments & IDEs
venv/
env/
.venv/
.vscode/
.idea/
*.swp

# Operating system files
.DS_Store
Thumbs.db
